<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>The Editor</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/fonts.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="inner-container mt-3 mb-3">
    <h1 class="h2 mb-4">Hi {{firstname}}!</h1>
    <h1 class="h5" style="font-weight: normal !important;">You can test and preview custom fonts in this text editor.</h1>
    <hr>
    <textarea id="fontapp">
    </textarea>
    <div class="logout-btn">
    <a class="btn btn-primary" href="/logout">Logout</a></div>
  </div>
  
  <script src="https://cdn.tiny.cloud/1/{{apiKey}}/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/init.js"></script>
</body>

</html>
