<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Login to Editor</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="container vh-100 d-flex justify-content-center align-items-center">
    <form method="post" action="/">
      {{#error}}
        <div class="alert alert-danger" role="alert">{{error}}</div>
      {{/error}}

      <h1 class="h2 mb-3">LOGIN</h1>

      <div class="form-group">
        <label for="username" class="font-weight-bold">Username</label>
        <input type="text" class="form-control" id="username" name="username" value="Johanna">
      </div>

      <div class="form-group">
        <label for="password" class="font-weight-bold">Password</label>
        <input type="password" class="form-control" id="password" name="password" value="Markus1982!!!!!">
      </div>

      <div class="form-group">
        <input type="submit" class="btn btn-primary login-btn" value="Login">
      </div>
    </form>
  </div>

  <script src="/js/bootstrap.js"></script>
</body>
</html>
