@font-face {
  font-family: 'iA Writer Serif';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/iAWriterSerif/iAWriterSerif-Regular.woff2') format('woff2'),
    url('/fonts/iAWriterSerif/iAWriterSerif-Regular.woff') format('woff');
}

@font-face {
  font-family: 'iA Writer Serif';
  font-weight: 400;
  font-style: italic;
  src: url('/fonts/iAWriterSerif/iAWriterSerif-Italic.woff2') format('woff2'),
    url('/fonts/iAWriterSerif/iAWriterSerif-Italic.woff') format('woff');
}

@font-face {
  font-family: 'iA Writer Serif';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/iAWriterSerif/iAWriterSerif-Bold.woff2') format('woff2'),
    url('/fonts/iAWriterSerif/iAWriterSerif-Bold.woff') format('woff');
}

@font-face {
  font-family: 'iA Writer Serif';
  font-weight: 700;
  font-style: italic;
  src: url('/fonts/iAWriterSerif/iAWriterSerif-BoldItalic.woff2') format('woff2'),
    url('/fonts/iAWriterSerif/iAWriterSerif-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Elisabeth Serif';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/ElisabethSerif/ElisabethSerif-Regular.woff2') format('woff2'),
    url('/fonts/ElisabethSerif/ElisabethSerif-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Elisabeth Serif';
  font-weight: 400;
  font-style: italic;
  src: url('/fonts/ElisabethSerif/ElisabethSerif-Italic.woff2') format('woff2'),
    url('/fonts/ElisabethSerif/ElisabethSerif-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Elisabeth Serif';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/ElisabethSerif/ElisabethSerif-Bold.woff2') format('woff2'),
    url('/fonts/ElisabethSerif/ElisabethSerif-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Elisabeth Serif';
  font-weight: 700;
  font-style: italic;
  src: url('/fonts/ElisabethSerif/ElisabethSerif-BoldItalic.woff2') format('woff2'),
    url('/fonts/ElisabethSerif/ElisabethSerif-BoldItalic.woff') format('woff');
}


@font-face {
  font-family: 'Elisabeth Serif Swash';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/ElisabethSerifSwash/ElisabethSerifSwash-Regular.woff2') format('woff2'),
    url('/fonts/ElisabethSerifSwash/ElisabethSerifSwash-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Elisabeth Serif Swash';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/ElisabethSerifSwash/ElisabethSerifSwash-Bold.woff2') format('woff2'),
    url('/fonts/ElisabethSerifSwash/ElisabethSerifSwash-Bold.woff') format('woff');
}
