body h1 {
  text-transform: none !important;
  font-family: 'iA Writer Serif' !important;
}

.inner-container {
  max-width: 65%;
  margin: 0 auto;
  border: 9px rgb(204, 204, 204) double;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
}

.form-group {
  margin-bottom: 1rem;
}

.login-btn {
  margin-top: 0.5rem;
}

.logout-btn {
  text-align: right !important;
}

.tox .tox-toolbar__group:last-child {
  margin-left: auto !important;
}
